@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  text-decoration: none;
  scroll-behavior: smooth;
 
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
        background: var(--sb-track-color);
        border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1px;
    }
@supports not selector(::-webkit-scrollbar) {
        body {
          scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
 }
}

body {
        width: 100%;
        height: auto;
        overflow-y: auto;
        overflow-x: hidden;
        --sb-track-color: #ffffff;
        --sb-thumb-color: #ffffff;
        --sb-size: 1px;
}

.hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url("/assets/img/foods.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    background-attachment: fixed;
  }


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
    width: 100%;
    background-color: transparent;
    color: white;
    gap : 30px;
  
  }

  .logo {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    stroke: #0f0f0f;
    stroke-width: 10px;
    text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }
  
  .logo img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    right: 50px;
   
  }
  
  .navbar .menu-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 20px;
  
  }
  
  .hamburger {
    display: none; /* Hide by default */
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px;
  }
  .hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white; /* Adjust color as needed */
    margin: 5px 0;
  }
  
  .navbar .menu-nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s;
  }
  
  .tombol-login {
    display: flex;
    justify-content: right;
    align-items: right;
    font-family: Poppins, sans-serif;
    font-weight:900;
    padding:10px 30px;
    background-color:#d0cece;
    border-radius:10px;
    cursor: pointer;
    transition: 0.5s ease;
  }
  
  .tombol-login:hover {
    background-color: #010101;
    
  }


  .menus{
    height: 100vh;
    color: white;
    align-items: center;
    display: grid;
    /* grid-auto-flow: column; */
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    padding: 50px 50px 30px 50px;
    gap:30px;
  }

  .menu {
    background-color:#fffdef ;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    /* overflow: hidden; */
    width: 100%; 
    margin-bottom: 20px; 
    box-sizing: border-box; 
    padding: 10px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  
  }

  .image-container {
    width: 100%;
    height: 250px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

 
  .content {
    padding: 20px 16px;
  }
  
  .food-name {
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 4px;
    color:#010101;
  }
  .food-title {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ceac23;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  .description {
    font-size: 14px;
    letter-spacing: 1px;
    color: #9e9e9e;
  }

  @media (max-width: 1200px) {
    .menu {
      width: 48%; /* Jika layar lebih kecil, tampilkan 2 card per baris */
    }
  }

  @media (max-width: 768px) {
    .menu {
      width: 100%; /* Pada layar kecil, card akan tampil satu per baris */
    }
  }
